<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muffinman.myapplication">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logomenu3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".utama">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".maubeli" />
        <activity android:name=".apaya" />
        <activity android:name=".halamanselanjutnya" />
        <activity android:name=".akunsaya" />
        <activity android:name=".login"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".daftarakun"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".penjualan1" />
        <activity android:name=".penjualan2" />
        <activity android:name=".penjualan3" />
        <activity android:name=".pembelian1" />
        <activity android:name=".pembelian2statuspemesanan" />
        <activity android:name=".home1" />
        <activity android:name=".java" />
        <activity android:name=".maubeli2" />
        <activity android:name=".checkout1" />
        <activity android:name=".pembayaran1" />
        <activity android:name=".konfirmasipembayaran" />
        <activity android:name=".konfirmasipembayaran2" />
        <activity android:name=".pembayaransukses" />
        <activity android:name=".pembelian3konfirmasipembayaran" />
        <activity android:name=".pembelian4konfirmasipenerimaan" />
        <activity android:name=".pembelian5daftartransaksi"></activity>
    </application>

</manifest>
